*.log
*.log.*
*.py[co]
~*
*.bak
__pycache__
.settings
.idea
test.py
data
log
settings.py
.xml
test*
azkabans/bakup/*
azkabans/conf/dw/*
azkabans/temp/*
aztest.py
config.ini
etls/comm/build/*
.ipynb_checkpoints/*
*.c
*.html
*.pyx
azkabans/azkaban/build/*